<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css"></th:block>
<!-- 사용자 JS 추가 -->
<th:block layout:fragment="script"></th:block>

<div layout:fragment="content">
  <ul>
    <li th:text="${memberProfileDto.nickname}">닉네임</li>
    <li th:text="${memberProfileDto.ageGroup}">연령대</li>
    <li th:text="${memberProfileDto.gender}">성별</li>
  </ul>
</div>