<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
  <title>Login</title>

  <th:block layout:fragment="preEndHead">
    <!-- Custom fonts for this template-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
    <link href="/assets/sb/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/assets/sb/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">

    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon">
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript-->
    <script src="/assets/sb/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/sb/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/assets/sb/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/assets/sb/js/sb-admin-2.min.js"></script>
    <style>
        .error {
            color: #bd2130;
        }
    </style>
  </th:block>
</head>

<body layout:fragment="content">

<!-- ======= Hero Section ======= -->
<!-- <section id="hero" class="hero d-flex align-items-center"> -->
<section
    style="width:100%;min-height:50vh;background-color:var(--color-secondary);background-image:url('/assets/img/hero-bg.png');background-size:cover;background-position:center;position:relative;padding:120px 0 60px 0;"
    id="hero" class="d-flex align-items-center">
  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0 bg-gray-400">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-flex justify-content-center align-items-center">
                <div class="p-5 w-75">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Welcome Together!</h1>
                  </div>
                  <form class="user" role="form" method="post" action="/member/login">
                    <div class="form-group">
                      <input type="email" class="form-control form-control-user"
                             id="email" name="email"
                             placeholder="이메일을 입력해주세요">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control form-control-user"
                             id="password" name="password" placeholder="비밀번호를 입력해주세요">
                    </div>
                    <p th:if="${loginErrorMsg}" class="error" th:text="${loginErrorMsg}"></p>
                    <button class="btn btn-primary btn-user btn-block">
                      로그인
                    </button>
                    <hr>
                    <a href="index.html" class="btn btn-warning btn-user btn-block text-dark">
                      Login with Kakao
                    </a>

                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="forgot-password.html">Forgot Password?</a>
                  </div>
                  <div class="text-center">
                    <a class="small" href="register.html">Create an Account!</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 hero-img">
                <img th:src="@{/assets/sb/img/login.jpg}" src="/assets/sb/img/login.svg" class="img-fluid mb-3 mb-lg-0"
                     alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Hero Section -->

<th:block layout:fragment="script">
  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>

  <!-- 추가된 스크립트 -->
  <!-- Libs JS -->
  <script src="/assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/libs/simplebar/dist/simplebar.min.js"></script>

  <!-- Theme JS -->
  <script src="/assets/js/theme.min.js"></script>
  <script src="/assets/libs/jquery-countdown/dist/jquery.countdown.min.js"></script>
  <script src="/assets/js/vendors/countdown.js"></script>
  <script src="/assets/libs/slick-carousel/slick/slick.min.js"></script>
  <script src="/assets/js/vendors/slick-slider.js"></script>
  <script src="/assets/libs/tiny-slider/dist/min/tiny-slider.js"></script>
  <script src="/assets/js/vendors/tns-slider.js"></script>
  <script src="/assets/js/vendors/zoom.js"></script>
  <script src="/assets/js/vendors/increment-value.js"></script>
</th:block>

</body>


</html>