<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/sb-and-logis-layout}">

<head>
  <title>Together Login</title>

  <th:block layout:fragment="preEndHead">
    <style>
        .fieldError {
            color: #bd2130;
        }
    </style>
  </th:block>
</head>

<body layout:fragment="content">

<!-- ======= Hero Section ======= -->
<!-- <section id="hero" class="hero d-flex align-items-center"> -->
<section
    style="width:100%;min-height:50vh;background-color:var(--color-secondary);background-image:url('/assets/img/hero-bg.png');background-size:cover;background-position:center;position:relative;padding:120px 0 60px 0;"
    id="hero" class="d-flex align-items-center">
  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0 bg-gray-400">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-flex justify-content-center align-items-center">
                <div class="p-5 w-75">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Welcome Together!</h1>
                  </div>
                  <form class="user" role="form" method="post" action="/member/login">
                    <div class="form-group">
                      <input type="email" class="form-control form-control-user"
                             id="email" name="email"
                             placeholder="이메일을 입력해주세요">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control form-control-user"
                             id="password" name="password" placeholder="비밀번호를 입력해주세요">
                    </div>
                    <p th:if="${loginErrorMsg}" class="fieldError" th:text="${loginErrorMsg}"></p>
                    <button class="btn btn-primary btn-user btn-block">
                      로그인
                    </button>
                    <hr>
                    <!--<a href="index.html" class="btn btn-warning btn-user btn-block text-dark">
                      Login with Kakao
                    </a>-->
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                  </form>
                  <!--<hr>
                  <div class="text-center">
                    <a class="small" href="forgot-password.html">Forgot Password?</a>
                  </div>-->
                  <div class="text-center">
                    <a th:href="@{/member/register}"
                       class="small" href="register.html">Create an Account!</a>
                  </div>
                </div>
              </div>
<!--              <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-out">-->
              <div class="col-lg-6 order-1 order-lg-2 hero-img">
                <img th:src="@{/assets/sb/img/login.jpg}" src="/assets/sb/img/login.svg" class="img-fluid mb-3 mb-lg-0"
                     alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Hero Section -->

<th:block layout:fragment="script">

</th:block>

</body>
</html>