<!DOCTYPE html>
<html>
<meta charset="UTF-8">

  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link href="../../static/css/editProfile.css" rel="stylesheet" />
    <title>Document</title>
  </head>

  <body>
    <header>
      <div class="container">
        <div class="intro">
          <p>홈>마이페이지>계정설정</p>
          <h2>${name}님의 상세 정보</h2>
        </div>
      </div>

      <!--프로필 이미지 관련-->
      <div class="profile">
        <div>
          <img class="userImg" src="../../static/images/profile.PNG" alt="프로필사진" />
        </div>

        <form action="" method="post" enctype="multipart/form-data">        
          <div class="button">
            <label for="chooseFile">
              👉 사진 선택 👈
            </label>
          </div>
          <input type="file" id="chooseFile" name="chooseFile" accept="image/*" onchange="loadFile(this)" hidden>

          <div class="button">
            <label for="imgSubmit">
              <button id="btn-photo">
                변경하기
              </button>
            </label>
          </div>  
          <input type="submit" name="imgSubmit" hidden>
        </form>      
      </div>

    </header>

    <main>
      <div class="container">
          <ul class="list">
            <p class="item">
              <div class="left">이름</div>
              <div class="right">${name}</div>
            </p>
          </ul>
          <ul class="list">
            <p class="item">
              <div class="left">성별</div>
              <div class="right">${gender}</div>
            </p>
          </ul>

          <ul class="list">
            <p class="item">
              <div class="left">생년월일</div>
              <div class="right">${birthday}</div>
            </p>
          </ul>

          <ul class="list">
            <p class="item">
              <div class="left">이메일</div>
              <div class="right">${email}</div>
            </p>
          </ul>

          <ul class="list">
            <p class="item">
              <div class="left">닉네임</div>
              <div class="right">                
                <input type="text"
                  name="nickname"
                  id="nickname"
                  placeholder="${nickname}"
                  value="${nickname}"
                /></div>
            </p>
          </ul>

          <ul class="list">
            <p class="item">
              <div class="left">소개글</div>
              <div class="right">                
                <input type="textarea"
                  id="introduce"
                  value="${introduce}"
                /></div>
            </p>
          </ul>

          <ul class="list">
            <p class="item">
              <div class="left">전화번호</div>
              <div class="right">                
                <input type="number"
                  id="phoneNumber"
                  placeholder="번호만 입력해 주세요"
                  value="${phoneNumber}"
                /></div>
            </p>
          </ul>
          
          <ul class="list">
            <p class="item">
              <div class="left">SNS계정</div>
              <div class="right">                
                <input type="link"
                  name="sns"
                  id="sns"
                  placeholder="${sns}"
                  value="${sns}"
                /></div>
            </p>
          </ul>

          <ul class="list">
            <p class="item">
              <div class="left">비밀번호</div>
              <div class="right">                
                <input type="password"
                  name="password"
                  id="password"
                  value="${password}"
                /></div>
            </p>
          </ul>

        </div>
      </div>
    </main>
    
    <button class="btn-mypage edit-btn" id="btn-edit">회원정보 수정</button><br>
    <button class="btn-delete" id="btn-delete">회원 탈퇴</button>

  </body>
</html>
