<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/sb-and-logis-layout}"
      lang="en">
<meta charset="UTF-8">
<div layout:fragment="content">

  <div class="breadcrumbs">
    <div class="page-header d-flex align-items-center">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>내 동행 관리</h2>
          </div>
        </div>
      </div>
    </div>
    <nav>
      <div class="container">
        <ol>
          <li><a href="/">Home</a></li>
          <li>동행게시판</li>
        </ol>
      </div>
    </nav>
  </div>

  <form th:action="@{/manage/createReview}" method="post"  th:object="${reviewFormDto}">
    <section class="sample-page">
      <div class="container">
        <h4><b>
          함께 여행했던 동행자들에게 리뷰를 남겨주세요!
        </b> <br></h4>
      </div>

      <div class="container" >
        <label><b>동행자를 선택해주세요!</b></label>
        <select name="reviewedId" >
          <th:block th:each="appliedReviewDto:${appliedNickname}">
            <option   th:value="${appliedReviewDto.getReviewedId()}"
                      th:text="${appliedReviewDto.getNickname()}" th:selected="${appliedReviewDto.getNickname()}"></option>
          </th:block>
        </select>
                 <!--<input type="hidden" name="reviewedId" th:value="${appliedReviewDto.getNickname()}">-->
      </div>

      <div class="container">
        <p><b>
            텍스트 후기
        </b></p>
        <div>
          <p><textarea cols="100" rows="10" name="comment"></textarea></p>
          <input id="sub" type="submit" value="작성완료">
          <button id="cancel"  onclick="location.href='accom_list.html'";>취소</button>
        </div>
      </div>
    </section>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
  </form>
</div>
</html>
