<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta charset="utf-8" />
<!-- ======= Header ======= -->
<header th:fragment="header" id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
    <div class="d-flex">
      <a href="/" th:href="@{/}" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="/assets/img/logo.png" alt=""> -->
        <h1>Together</h1>
      </a>
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar-left" class="navbar">
        <ul>
          <!--          <li><a href="../mainpage.html" class="active">Home</a></li>-->
          <li><a th:href="@{/board/recruitBoard}"
                  class="nav-link active">동행</a></li>
          <li><a th:href="@{/map/testmap}"
                 class="nav-link active">관광지</a></li>


        </ul>
      </nav><!-- .navbar -->
    </div>
    <div>
      <nav id="navbar-right" class="navbar">
        <ul>
          <li sec:authorize="hasAnyAuthority('ROLE_MEMBER')">
            <a th:href="@{/member/mypage}"
               href="../user/mypage.html">마이 페이지</a></li>
          <li sec:authorize="isAnonymous()" class="nav-item">
            <a th:href="@{/member/register}"
               class="get-a-quote" href="/member/register-form">회원가입</a></li>
          <li sec:authorize="isAnonymous()">
            <a th:href="@{/member/login}"
               class="get-a-quote" href="/member/login.html">로그인</a></li>
          <li sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_MEMBER')">
            <a th:href="@{/member/logout}"
               class="get-a-quote" href="/member/logout">로그아웃</a></li>
        </ul>
      </nav><!-- .navbar -->
    </div>
  </div>
</header><!-- End Header -->
<!-- End Header -->



