<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">

<div th:fragment="header">
  <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Together</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" sec:authorize="hasAuthority('ROLE_ADMIN')">
            <a class="nav-link active" aria-current="page" href="/admin">관리</a>
          </li>
          <li class="nav-item" sec:authorize="permitAll()">
            <a class="nav-link active" aria-current="page" href="/recruit">동행</a>
          </li>
          <li class="nav-item" sec:authorize="isAnonymous()">
            <a class="nav-link active" aria-current="page" href="/member/register">회원가입</a>
          </li>
          <li class="nav-item" sec:authorize="isAnonymous()">
            <a class="nav-link active" aria-current="page" href="/member/login">로그인</a>
          </li>
          <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_MEMBER')">
            <a class="nav-link active" aria-current="page" href="/member/mypage">마이페이지</a>
          </li>
          <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_MEMBER')">
            <a class="nav-link active" aria-current="page" href="/member/logout">로그아웃</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</div>
</html>