<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Logis Bootstrap Template - Index</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="../static/assets/img/favicon.png" rel="icon" />
    <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="../static/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="../static/assets/vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="../static/assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
    <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="../static/assets/mooncss/main.css" rel="stylesheet" />

    <!-- =======================================================
  * Template Name: Logis
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>

  <body style="background-color: rgb(89, 148, 216)">
    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center fixed-top">
      <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <a href="mainpage.html" class="logo d-flex align-items-center">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="assets/img/logo.png" alt=""> -->
          <h1>Together</h1>
        </a>

        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
        <nav id="navbar" class="navbar">
          <ul>
            <li><a href="index.html" class="active">Home</a></li>
            <li><a href="about.html">동행 게시판</a></li>
            <li class="dropdown"><a href="#"><span>커뮤니티 게시판</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a href="#">Q&A</a></li>
                <li><a href="#">정보 공유</a></li>
                <li><a href="#">자유 게시판</a></li>
              </ul>
            </li>
            <li><a href="contact.html">마이 페이지</a></li>
            <li><a class="get-a-quote" href="get-a-quote.html">로그인</a></li>
          </ul>
        </nav><!-- .navbar -->

      </div>
    </header>
    <!-- End Header -->
    <!-- End Header -->

    <div class="breadcrumbs">
      <div class="page-header d-flex align-items-center" style="background-image: url('assets/img/page-header.jpg');">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2>커뉴니티 게시글 작성</h2>
            </div>
          </div>
        </div>
      </div>
      <nav>
        <div class="container">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>게시글 작성</li>
          </ol>
        </div>
      </nav>
    </div>
    <div class="container">
      <div class="row gy-4 d-flex justify-content-between">
        <div
          class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center"
        >
          <br /><br /><br /><br /><br />
          <a
            href="#"
            class="scroll-top d-flex align-items-center justify-content-center"
            ><i class="bi bi-arrow-up-short"></i
          ></a>

          <div id="preloader"></div>

          <input type="text" class="form-control" placeholder="나라 도시" />
          <br /><br />

          <input type="text" class="form-control" placeholder="게시글 제목" />
        </div>
      </div>
      <br /><br />
      <textarea cols="140" rows="10"></textarea>
      <br />
      <div id="buttonflex">
        <div id="filebutton">
          <button type="submit" class="btn btn-primary">파일선택</button>
        </div>
        <div id="savebutton">
          <form
            style="float: right; margin: 0"
            action="#"
            class="form-search d-flex align-items- mb-3"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <button type="submit" class="btn btn-primary">게시글 저장</button>
          </form>

          <form
            action="#"
            style="float: right; margin-right: 10px"
            class="for-search d-flex align-items- mb-3"
          >
            <button type="submit" class="btn btn-primary">게시글 삭제</button>
          </form>
        </div>
      </div>
    </div>

    <!-- Vendor JS Files -->
    <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="../static/assets/vendor/aos/aos.js"></script>
    <script src="../static/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="../static/assets/js/main.js"></script>
  </body>
</html>
