<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<div layout:fragment="content">
  <th:block th:each="item : ${recruitList}">
    <div class="card col-2 mb-2">
      <!--      <img src="..." class="card-img-top" alt="...">-->
      <div class="card-body">
        <h5 class="card-title" th:text="${item.title}">Card title</h5>
        <h6 class="card-text" th:text="|작성자: ${item.recruitWriter.nickname}|">username</h6>
        <a href="#" th:href="@{/recruit/{param1} (param1=${item.id})}" class="btn btn-primary">상세보기</a>
      </div>
    </div>
  </th:block>
</div>

</html>