<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/common-layout-1 :: common_1(~{::title}, ~{::body})}">

<head>
    <title>Login</title>
</head>

<body>
    <!-- Bootstrap core JavaScript-->
    <script defer src="../static/assets/sb/vendor/jquery/jquery.min.js"></script>
    <script defer src="../static/assets/sb/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script defer src="../static/assets/sb/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script defer src="../static/assets/sb/js/sb-admin-2.min.js"></script>

  <!-- ======= Hero Section ======= -->
  <!-- <section id="hero" class="hero d-flex align-items-center"> -->
  <section style="width:100%;min-height:50vh;background-color:var(--color-secondary);background-image:url('../static/assets/img/hero-bg.png');background-size:cover;background-position:center;position:relative;padding:120px 0 60px 0;"
  id="hero" class="d-flex align-items-center">
    <!-- <div class="container">
      <div class="row gy-4 d-flex justify-content-between">


        <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
          <img src="/assets/img/hero-img.svg" class="img-fluid mb-3 mb-lg-0" alt="">
        </div>

      </div>
    </div> -->
    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0 bg-gray-400">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <!-- <div class="col-lg-6 d-none d-lg-block bg-login-image"></div> -->
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                    </div>
                                    <form class="user">
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user"
                                                id="exampleInputEmail" aria-describedby="emailHelp"
                                                placeholder="Enter Email Address...">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                id="exampleInputPassword" placeholder="Password">
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                                <label class="custom-control-label" for="customCheck">Remember Me</label>
                                            </div>
                                        </div>
                                        <a th:href="@{/main}" href="index.html" class="btn btn-primary btn-user btn-block">
                                            Login
                                        </a>
                                        <hr>
                                        <!-- <a href="index.html" class="btn btn-google btn-user btn-block"> -->
                                        <a href="index.html" class="btn btn-warning btn-user btn-block text-dark">
                                            Login with Kakao
                                        </a>
                                        <!-- <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                            <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                                        </a> -->
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="forgot-password.html">Forgot Password?</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="register.html">Create an Account!</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 order-1 order-lg-2 hero-img">
                                <img th:src="@{/assets/sb/img/login.svg}" src="../static/assets/sb/img/login.svg" class="img-fluid mb-3 mb-lg-0" alt="">
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
  </section><!-- End Hero Section -->

</body>

</html>