<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>MYPAGE</title>

    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Page loading styles-->
    <style>
      .page-loading {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transition: all 0.4s 0.2s ease-in-out;
        transition: all 0.4s 0.2s ease-in-out;
        background-color: #ffffff;
        opacity: 0;
        visibility: hidden;
        z-index: 9999;
      }
      .page-loading.active {
        opacity: 1;
        visibility: visible;
      }
      .page-loading-inner {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        text-align: center;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: opacity 0.2s ease-in-out;
        transition: opacity 0.2s ease-in-out;
        opacity: 0;
      }
      .page-loading.active > .page-loading-inner {
        opacity: 1;
      }
      .page-loading-inner > span {
        display: block;
        font-family: "Inter", sans-serif;
        font-size: 1rem;
        font-weight: normal;
        color: #6f788b;
      }

      .page-spinner {
        display: inline-block;
        width: 2.75rem;
        height: 2.75rem;
        margin-bottom: 0.75rem;
        vertical-align: text-bottom;
        background-color: #d7dde2;
        border-radius: 50%;
        opacity: 0;
        -webkit-animation: spinner 0.75s linear infinite;
        animation: spinner 0.75s linear infinite;
      }

      @-webkit-keyframes spinner {
        0% {
          -webkit-transform: scale(0);
          transform: scale(0);
        }
        50% {
          opacity: 1;
          -webkit-transform: none;
          transform: none;
        }
      }
      @keyframes spinner {
        0% {
          -webkit-transform: scale(0);
          transform: scale(0);
        }
        50% {
          opacity: 1;
          -webkit-transform: none;
          transform: none;
        }
      }
    </style>

    <!-- Page loading scripts-->
    <script>
      (function () {
        window.onload = function () {
          const preloader = document.querySelector(".page-loading");
          preloader.classList.remove("active");
          setTimeout(function () {
            preloader.remove();
          }, 1500);
        };
      })();
    </script>

    <!-- Import Google Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&amp;display=swap"
      rel="stylesheet"
      id="google-font"
    />
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="../static/css/mypage.css" />
  </head>
  <!-- Body-->
  <body class="bg-secondary">
    <!-- Page loading spinner-->
    <div class="page-loading active">
      <div class="page-loading-inner">
        <div class="page-spinner"></div>
        <span>Loading...</span>
      </div>
    </div>
    <!-- Page wrapper-->
    <main class="page-wrapper">
      <!-- Navbar. Remove 'fixed-top' class to make the navigation bar scrollable with the page-->
      <header class="navbar navbar-expand-lg fixed-top">
        <div class="container">
          <a class="navbar-brand pe-sm-3" href="index.html">Together</a>

          <nav class="collapse navbar-collapse" id="navbarNav">
            <ul
              class="navbar-nav navbar-nav-scroll me-auto"
              style="--ar-scroll-height: 520px"
            >

              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  data-bs-toggle="dropdown"
                  data-bs-auto-close="outside"
                  aria-expanded="false"
                  >동행모집</a
                >
                <ul class="dropdown-menu">
                  <li class="dropdown">
                    <a
                      class="dropdown-item dropdown-toggle"
                      href="#"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                      >모집글보기</a
                    >
                  </li>
                  <li class="dropdown">
                    <a
                      class="dropdown-item dropdown-toggle"
                      href="#"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                      >모집글 작성</a
                    >
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  data-bs-toggle="dropdown"
                  data-bs-auto-close="outside"
                  aria-expanded="false"
                  >커뮤니티</a
                >
                <ul class="dropdown-menu">
                  <li class="dropdown">
                    <a
                      class="dropdown-item dropdown-toggle"
                      href="#"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                      >자유게시판</a
                    >
                  </li>
                  <li class="dropdown">
                    <a
                      class="dropdown-item dropdown-toggle"
                      href="#"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                      >정보게시판</a
                    >
                  </li>
                  <li class="dropdown">
                    <a
                      class="dropdown-item dropdown-toggle"
                      href="#"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                      >Q&A게시판</a
                    >
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle active"
                  href="#"
                  data-bs-toggle="dropdown"
                  data-bs-auto-close="outside"
                  aria-expanded="false"
                  >계정관련</a
                >
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="account-signin.html"
                      >Sign In</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="account-signup.html"
                      >Sign Up</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="account-signinup.html"
                      >Sign In / Up</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="account-password-recovery.html"
                      >Password Recovery</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="account-overview.html"
                      >Overview</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="account-settings.html"
                      >Settings</a
                    >
                  </li>

                  <li>
                    <a class="dropdown-item" href="account-chat.html"
                      >Chat (Messages)</a
                    >
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </header>


      <!-- Page content-->
      <div class="container py-5 mt-4 mt-lg-5 mb-lg-4 my-xl-5">
        <div class="row pt-sm-2 pt-lg-0">
          <!-- Page content-->
          <div class="col-lg-9 pt-4 pb-2 pb-sm-4">
            <h1 class="h2 mb-4">마이페이지</h1>
            <!-- Basic info-->
            <section class="card border-0 py-1 p-md-2 p-xl-3 p-xxl-4 mb-4">
              <div class="card-body">
                <div
                  class="d-flex align-items-center mt-sm-n1 pb-4 mb-0 mb-lg-1 mb-xl-3"
                >
                  <h2 class="h4 mb-0">내프로필</h2>
                </div>
                <div class="d-md-flex align-items-center">
                  <div class="d-sm-flex align-items-center">
                    <div
                      class="rounded-circle bg-size-cover bg-position-center flex-shrink-0"
                      style="
                        width: 80px;
                        height: 80px;
                        background-image: url(../static/images/profile.PNG);
                      "
                    ></div>
                    <div class="pt-3 pt-sm-0 ps-sm-3">
                      <h3 class="h5 mb-2">
                        닉네임
                      </h3>
                      <div
                        class="text-muted fw-medium d-flex flex-wrap flex-sm-nowrap align-iteems-center"
                      >
                        <div class="d-flex align-items-center me-3">
                          이메일email@example.com
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="w-100 pt-3 pt-md-0 ms-md-auto"
                    style="max-width: 212px"
                  >
                    <div class="d-flex justify-content-between fs-sm pb-1 mb-2">
                      멤버등급<strong class="ms-2">60%</strong>
                    </div>
                    <div class="progress" style="height: 5px">
                      <div
                        class="progress-bar"
                        role="progressbar"
                        style="width: 62%"
                        aria-valuenow="62"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>
                </div>
                <div class="row py-4 mb-2 mb-sm-3">
                  <div class="col-md-6 mb-4 mb-md-0">
                    <table class="table mb-0">
                      <tr>
                        <td class="border-0 text-muted py-1 px-0">소개글</td>
                        <td class="border-0 text-dark fw-medium py-1 ps-3">
                          안녕하세요:)
                        </td>
                      </tr>
                      <tr>
                        <td class="border-0 text-muted py-1 px-0">내취향</td>
                        <td class="border-0 text-dark fw-medium py-1 ps-3">
                          활동적인,계획적인
                        </td>
                      </tr>
                      <tr>
                        <td class="border-0 text-muted py-1 px-0">SNS계정</td>
                        <td class="border-0 text-dark fw-medium py-1 ps-3">
                          asdf@asdf
                        </td>
                      </tr>
                      <tr>
                        <td class="border-0 text-muted py-1 px-0">전화번호</td>
                        <td class="border-0 text-dark fw-medium py-1 ps-3">
                          010-0000-0000
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div class="col-md-6 d-md-flex justify-content-end">
                    <div
                      class="w-100 border rounded-3 p-4"
                      style="max-width: 212px"
                    >
                      <h4 class="h5 lh-base mb-0">등급</h4>
                      <p class="fs-sm text-muted mb-0">20/200</p>
                    </div>
                  </div>
                </div>
                <div class="alert alert-info d-flex mb-0" role="alert">
                  <div class="ps-2">
                    <a class="alert-link ms-1" href="editProfile.html"
                      >프로필 편집</a>
                  </div>
                </div>
                <br>
                <div class="alert alert-info d-flex mb-0" role="alert">
                  <div class="ps-2">
                    <a class="alert-link ms-1" href="editProfile.html"
                    >채팅보기</a>
                  </div>
                </div>
              </div>
            </section>


            <!-- 동행후기-->
            <section class="card border-0 py-1 p-md-2 p-xl-3 p-xxl-4 mb-4">
              <div class="card-body">
                <div
                  class="d-flex align-items-center mt-sm-n1 pb-4 mb-0 mb-lg-1 mb-xl-3"
                >
                  <h2 class="h4 mb-0">동행후기</h2>
                  <a
                    class="btn btn-sm btn-secondary ms-auto"
                    href="review.html"
                    >나도 후기 남기기</a
                  >
                </div>
                <!-- 목록1-->
                  <div class="accordion-item border-top mb-0">
                    <div class="accordion-header">
                      <a
                        class="accordion-button d-flex fs-4 fw-normal text-decoration-none py-3 collapsed"
                        href="#orderOne"
                      >
                        <div
                          class="d-flex justify-content-between w-100"
                          style="max-width: 440px"
                        >
                          <div class="me-3 me-sm-4">
                            <div class="fs-sm text-muted">동행자아이디</div>
                            <span class="badge bg-faded-info text-info fs-xs"
                              >아이디</span
                            >
                          </div>
                          <div class="me-3 me-sm-4">
                            <div
                              class="d-none d-sm-block fs-sm text-muted mb-2"
                            >
                              동행날짜
                            </div>
                            <div class="d-sm-none fs-sm text-muted mb-2">
                              Date
                            </div>
                            <div class="fs-sm fw-medium text-dark">
                              Jan 27, 2022
                            </div>
                          </div>
                          <div class="me-3 me-sm-4">
                            <div class="fs-sm text-muted mb-2">별점</div>
                            <div class="fs-sm fw-medium text-dark">★★★★☆</div>
                          </div>
                        </div></a>
                    </div>
                  </div>  
                  <!--목록2-->                  
                  <div class="accordion-item border-top mb-0">
                    <div class="accordion-header">
                      <a
                        class="accordion-button d-flex fs-4 fw-normal text-decoration-none py-3 collapsed"
                        href="#orderOne"
                      >
                        <div
                          class="d-flex justify-content-between w-100"
                          style="max-width: 440px"
                        >
                          <div class="me-3 me-sm-4">
                            <div class="fs-sm text-muted">동행자아이디</div>
                            <span class="badge bg-faded-info text-info fs-xs"
                              >아이디</span
                            >
                          </div>
                          <div class="me-3 me-sm-4">
                            <div
                              class="d-none d-sm-block fs-sm text-muted mb-2"
                            >
                              동행날짜
                            </div>
                            <div class="d-sm-none fs-sm text-muted mb-2">
                              Date
                            </div>
                            <div class="fs-sm fw-medium text-dark">
                              Jan 27, 2022
                            </div>
                          </div>
                          <div class="me-3 me-sm-4">
                            <div class="fs-sm text-muted mb-2">별점</div>
                            <div class="fs-sm fw-medium text-dark">★★★★☆</div>
                          </div>
                        </div></a>
                  </div>

                  <div class="accordion-item border-top mb-0">
                    <div class="accordion-header">
                      <a
                        class="accordion-button d-flex fs-4 fw-normal text-decoration-none py-3 collapsed"
                        href="#orderOne"
                      >
                        <div
                          class="d-flex justify-content-between w-100"
                          style="max-width: 440px"
                        >
                          <div class="me-3 me-sm-4">
                            <div class="fs-sm text-muted">동행자아이디</div>
                            <span class="badge bg-faded-info text-info fs-xs"
                              >아이디</span
                            >
                          </div>
                          <div class="me-3 me-sm-4">
                            <div
                              class="d-none d-sm-block fs-sm text-muted mb-2"
                            >
                              동행날짜
                            </div>
                            <div class="d-sm-none fs-sm text-muted mb-2">
                              Date
                            </div>
                            <div class="fs-sm fw-medium text-dark">
                              Jan 27, 2022
                            </div>
                          </div>
                          <div class="me-3 me-sm-4">
                            <div class="fs-sm text-muted mb-2">별점</div>
                            <div class="fs-sm fw-medium text-dark">★★★★☆</div>
                          </div>
                        </div></a>
                  </div>

                </div>
              </div>
              </div>
            </section>

            <!--좋아요한글-->
            <section class="card border-0 py-1 p-md-2 p-xl-3 p-xxl-4 mb-4">
              <div class="card-body">
                <div
                  class="d-flex align-items-center mt-sm-n1 pb-4 mb-0 mb-lg-1 mb-xl-3"
                >
                  <h2 class="h4 mb-0">좋아요한글</h2>

                </div>
                <!-- 목록1-->
                  <div class="accordion-item border-top mb-0">
                    <div class="accordion-header">
                      <a
                        class="accordion-button d-flex fs-4 fw-normal text-decoration-none py-3 collapsed"
                        href="#orderOne"
                      >
                        <div
                          class="d-flex justify-content-between w-100"
                          style="max-width: 440px"
                        >
                          <div class="me-3 me-sm-4">
                            <div class="fs-sm text-muted">글제목</div>
                            <span class="badge bg-faded-info text-info fs-xs"
                              >제목</span
                            >
                          </div>
                          <div class="me-3 me-sm-4">
                            <div
                              class="d-none d-sm-block fs-sm text-muted mb-2"
                            >
                              작성일
                            </div>
                            <div class="d-sm-none fs-sm text-muted mb-2">
                              Date
                            </div>
                            <div class="fs-sm fw-medium text-dark">
                              Jan 27, 2022
                            </div>
                          </div>

                        </div></a>
                    </div>
                  </div>  
                  
                  <div class="accordion-item border-top mb-0">
                    <div class="accordion-header">
                      <a
                        class="accordion-button d-flex fs-4 fw-normal text-decoration-none py-3 collapsed"
                        href="#orderOne"
                      >
                        <div
                          class="d-flex justify-content-between w-100"
                          style="max-width: 440px"
                        >
                          <div class="me-3 me-sm-4">
                            <div class="fs-sm text-muted">글제목</div>
                            <span class="badge bg-faded-info text-info fs-xs"
                              >제목</span
                            >
                          </div>
                          <div class="me-3 me-sm-4">
                            <div
                              class="d-none d-sm-block fs-sm text-muted mb-2"
                            >
                              작성일
                            </div>
                            <div class="d-sm-none fs-sm text-muted mb-2">
                              Date
                            </div>
                            <div class="fs-sm fw-medium text-dark">
                              Jan 27, 2022
                            </div>
                          </div>
                        </div></a>
                    </div>
                  </div>

              </div>
            </section>

            <!--내가쓴글-->
            <section class="card border-0 py-1 p-md-2 p-xl-3 p-xxl-4 mb-4">
              <div class="card-body">
                <div
                  class="d-flex align-items-center mt-sm-n1 pb-4 mb-0 mb-lg-1 mb-xl-3"
                >
                  <h2 class="h4 mb-0">내가쓴글</h2>

                </div>
                <!-- 목록1-->
                  <div class="accordion-item border-top mb-0">
                    <div class="accordion-header">
                      <a
                        class="accordion-button d-flex fs-4 fw-normal text-decoration-none py-3 collapsed"
                        href="#orderOne"
                      >
                        <div
                          class="d-flex justify-content-between w-100"
                          style="max-width: 440px"
                        >
                          <div class="me-3 me-sm-4">
                            <div class="fs-sm text-muted">글제목</div>
                            <span class="badge bg-faded-info text-info fs-xs"
                              >제목</span
                            >
                          </div>
                          <div class="me-3 me-sm-4">
                            <div
                              class="d-none d-sm-block fs-sm text-muted mb-2"
                            >
                              작성일
                            </div>
                            <div class="d-sm-none fs-sm text-muted mb-2">
                              Date
                            </div>
                            <div class="fs-sm fw-medium text-dark">
                              Jan 27, 2022
                            </div>
                          </div>

                        </div></a>
                    </div>
                  </div>  
                  
                  <div class="accordion-item border-top mb-0">
                    <div class="accordion-header">
                      <a
                        class="accordion-button d-flex fs-4 fw-normal text-decoration-none py-3 collapsed"
                        href="#orderOne"
                      >
                        <div
                          class="d-flex justify-content-between w-100"
                          style="max-width: 440px"
                        >
                          <div class="me-3 me-sm-4">
                            <div class="fs-sm text-muted">글제목</div>
                            <span class="badge bg-faded-info text-info fs-xs"
                              >제목</span
                            >
                          </div>
                          <div class="me-3 me-sm-4">
                            <div
                              class="d-none d-sm-block fs-sm text-muted mb-2"
                            >
                              작성일
                            </div>
                            <div class="d-sm-none fs-sm text-muted mb-2">
                              Date
                            </div>
                            <div class="fs-sm fw-medium text-dark">
                              Jan 27, 2022
                            </div>
                          </div>
                        </div></a>
                    </div>
                  </div>

              </div>
            </section>

          </div>
        </div>
      </div>
      

    </main>
  </body>
</html>
