<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/sb-and-logis-layout}"
      lang="en">
<meta charset="UTF-8">
<div layout:fragment="content">

    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>내 동행 관리</h2>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <ol>
                    <li><a href="/">Home</a></li>
                    <li>동행게시판</li>
                </ol>
            </div>
        </nav>
    </div>

    <div class="container">
        <div class="intro">
            <h2>내 동행 관리</h2>
        </div>
    </div>

    <main id="main">

        <div class="container py-5 mt-4 mt-lg-5 mb-lg-4 my-xl-5">
            <div class="row pt-sm-2 pt-lg-0">
                <section class="card border-1 py-1 p-md-2 p-xl-3 p-xxl-4 mb-4">
                    <div class="card-body">
                        <div class="d-flex align-items-center mt-sm-n1 pb-4 mb-0 mb-lg-1 mb-xl-3">
                            <h1 class="h5 mb-0">내가 신청한 동행 목록</h1>
                        </div>
                        <table style="width: 100%; border-collapse: separate; border-spacing: 0 30px">
                            <thead style="font-size: large">
                            <th>동행게시글 제목</th>
                            <th>동행게시글 모집자닉네임</th>
                            <th>현재상태(참여됨or미정)</th>
                            </thead>

                            <tbody>
                            <tr th:each="dto:${applyingDTO}">
                                <td>[[${dto.getTitle()}]]</td>
                                <td>[[${dto.getNickname()}]]</td>
                                <td>
                                <span th:if="${#strings.equals(dto.getIsOk(), 'true')}" >
                                    동행수락됨
                                </span>
                                    <span th:if="${#strings.equals(dto.getIsOk(), 'false')}">
                                        미정
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </section>

                <section class="card border-1 py-1 p-md-2 p-xl-3 p-xxl-4 mb-4">
                    <div class="card-body">
                        <div class="d-flex align-items-center mt-sm-n1 pb-4 mb-0 mb-lg-1 mb-xl-3">
                            <h2 class="h4 mb-0">내가 모집중인 동행 목록</h2>
                        </div>

                        <section class="card border-1 py-1 p-md-2 p-xl-3 p-xxl-4 mb-4">
                        <table style="width: 100%; border-collapse: separate; border-spacing: 0 30px">
                            <thead style="font-size: large">
                            <th>동행게시글 제목</th>
                            <th>신청인</th>
                            <th>동행인</th>
                            </thead>

                            <tbody>
                            <tr th:each="titleDto:${myApplyTitleDTO}">
                                <td>
                                    <ol>[[${titleDto.getTitle()}]]</ol>
                                    <ol>
                                        <form th:action="@{/manage/changeState}" method="post">
                                            <input type="hidden"   th:name="rid" th:value="${titleDto.getRid()}">
                                            <input type="submit" value="동행모집완료">
                                        </form>
                                    </ol>
                                </td>
                                <td>
                                    <ol>
                                        <div th:each="applierDto:${myApplierDTO}"
                                             th:if="${applierDto.getAid()==null}" >
                                        신청자가없습니다.
                                        </div>
                                    </ol>
                                    <ol>
                                    <div th:each="applierDto:${myApplierDTO}"
                                         th:if="${applierDto.getRid()==titleDto.getRid()}" >
                                        <form action="/member/othersProfile" role="form" method="post">
                                            <input type="hidden" name=email th:value="${applierDto.getEmail()}">
                                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                            <button type="submit" class="btn btn-primary" style=""> [[${applierDto.getNickname()}]]</button>
                                        </form>
                                            <form th:action="@{/manage/applyIsOk}" method="post">
                                                <input type="hidden"   th:name="rid" th:value="${titleDto.getRid()}">
                                                <input type="hidden"   th:name="aid" th:value="${applierDto.getAid()}">
                                                <input type="submit" value="동행 수락">
                                            </form>
                                        <form th:action="@{/manage/applyIsNo}" method="post">
                                            <input type="hidden"   th:name="rid" th:value="${titleDto.getRid()}">
                                            <input type="hidden"   th:name="aid" th:value="${applierDto.getAid()}">
                                            <input type="submit" value="동행 거절">
                                        </form>


                                    </div>
                                    </ol>
                                </td>
                                <td th:each="memberDto:${myMemberDTO}">
                                    <div th:if="${memberDto.getRid()==titleDto.getRid()}" >
                                        <ol>
                                            <form action="/member/othersProfile" role="form" method="post">
                                                <input type="hidden" name=email th:value="${memberDto.getEmail()}">
                                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                                <button type="submit" class="btn btn-primary" style=""> [[${memberDto.getNickname()}]]</button>
                                            </form>
                                        </ol>
                                        <ol>
                                            <form th:action="@{/manage/applyIsNo}" method="post">
                                                <input type="hidden"   th:name="rid" th:value="${titleDto.getRid()}">
                                                <input type="hidden"   th:name="aid" th:value="${memberDto.getAid()}">
                                                <input type="submit" value="동행 취소">
                                            </form>
                                        </ol>
                                    </div>

                                </td>


                            </tr>
                            </tbody>
                        </table>
                        </section>
                    </div>

                    <div>
                        <button class="btn btn-primary" type="button"
                                onclick="location.href='/manage/pastParticipate'"
                        ><b>지난 동행모집완료내역 가기</b>
                        </button>
                    </div>
                </section>
            </div>
        </div>
    </main>
</div>
</html>

