<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>[Template] Sample Inner Page</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="../static/assets/img/favicon.png" rel="icon" />
    <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
            rel="stylesheet"
    />
    <link
            href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100&display=swap"
            rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
            href="../static/assets/vendor/bootstrap/css/bootstrap.min.css"
            rel="stylesheet"
    />
    <link
            href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css"
            rel="stylesheet"
    />
    <link
            href="../static/assets/vendor/fontawesome-free/css/all.min.css"
            rel="stylesheet"
    />
    <link
            href="../static/assets/vendor/glightbox/css/glightbox.min.css"
            rel="stylesheet"
    />
    <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
    <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="../static/assets/css/main.css" rel="stylesheet" />

    <link href="../static/assets/css/recruit_board.css" rel="stylesheet" />

    <!-- =======================================================
  * Template Name: Logis
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
<!-- Scripts -->
<!--    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>-->
<!--    <script src="../static/assets/js/recruit_board.js"></script>-->
<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center fixed-top">
    <div
            class="container-fluid container-xl d-flex align-items-center justify-content-between"
    >
        <a href="mainpage.html" class="logo d-flex align-items-center">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="assets/img/logo.png" alt=""> -->
            <h1>Together</h1>
        </a>

        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="mainpage.html" class="active">Home</a></li>
                <li><a href="recruit_board.html">동행 게시판</a></li>
                <li class="dropdown">
                    <a href="#"
                    ><span>커뮤니티 게시판</span>
                        <i class="bi bi-chevron-down dropdown-indicator"></i
                        ></a>
                    <ul>
                        <li><a href="#">Q&A</a></li>
                        <li><a href="#">정보 공유</a></li>
                        <li><a href="#">자유 게시판</a></li>
                    </ul>
                </li>
                <li><a href="mypage.html">마이 페이지</a></li>
                <li><a class="get-a-quote" href="login.html">로그인</a></li>
            </ul>
        </nav>
        <!-- .navbar -->
    </div>
</header>
<!-- End Header -->
<!-- End Header -->

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div
                class="page-header d-flex align-items-center"
                style="background-image: url('../static/assets/img/together.jpg')"
        >
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>나의 동행목록</h2>
                        <p>내 목록</p>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <ol>
                    <li><a href="mainpage.html">Home</a></li>
                    <li><a href="recruit_board.html"></a>내 동행목록</li>
                </ol>
            </div>
        </nav>
    </div>
    <!-- End Breadcrumbs -->
    <div style="background: #dbdbea">
        <div class="container py-5 mt-4 mt-lg-5 mb-lg-4 my-xl-5">
            <div class="row pt-sm-2 pt-lg-0">
                <!-- Page content-->
                <div class="col-lg-9 pt-4 pb-2 pb-sm-4">
    <section class="card border-0 py-1 p-md-2 p-xl-3 p-xxl-4 mb-4">
        <div class="card-body" style="font-weight: bolder">
            <div
                    class="d-flex align-items-center mt-sm-n1 pb-4 mb-0 mb-lg-1 mb-xl-3"
            >
                <h2 class="h4 mb-0">내 동행참여목록</h2>
            </div>
            <div
                    class="d-flex align-items-center mt-sm-n1 pb-4 mb-0 mb-lg-1 mb-xl-3"
            >
                <h1 class="h5 mb-0">참여현황</h1>
            </div>
            <table style="width: 100%; border-collapse: separate; border-spacing: 0 30px"
            >
                <thead style="font-size: large">
                <th>
                    동행게시글 제목
                </th>
                <th>날짜</th>
                <th>현재상태(참여됨or미정)</th>
                </thead>
                <tr>
                    <td>부산여행1(동행상세게시글링크)</td>
                    <td>5/24-5/25</td>
                    <td>미정</td>

                </tr>
                <tr>
                    <td>부산여행2(동행상세게시글링크)</td>
                    <td>5/27-5/28</td>
                    <td>참여됨</td>
               </tr>

            </table>




        </div>
    </section>
                </div>
            </div>
        </div>


    <div class="container py-5 mt-4 mt-lg-5 mb-lg-4 my-xl-5">
        <div class="row pt-sm-2 pt-lg-0">
            <!-- Page content-->
            <div class="col-lg-9 pt-4 pb-2 pb-sm-4">
                <section class="card border-0 py-1 p-md-2 p-xl-3 p-xxl-4 mb-4">
                    <div class="card-body" style="font-weight: bolder">
                        <div
                                class="d-flex align-items-center mt-sm-n1 pb-4 mb-0 mb-lg-1 mb-xl-3"
                        >
                            <h2 class="h4 mb-0">나의 동행모집</h2>
                        </div>
                        <div
                                class="d-flex align-items-center mt-sm-n1 pb-4 mb-0 mb-lg-1 mb-xl-3"
                        >
                            <h1 class="h5 mb-0">참여현황</h1>
                        </div>
                        <ul>
                            <ol>
                        동행게시글제목(게시글링크)
                            <button
                                    class="btn btn-primary"
                                    type="button"

                            >
                                <b>모집완료</b>
                            </button>

                            </ol>
                            <br>
                            <ol>
                        모집현황(2/4)
                                <ul>
                                    <ol>
                                        동행인1(동행인닉네임)
                                    </ol>
                                    <ol>
                                        동행인2(동행인닉네임)
                                    </ol>
                                </ul>
                            </ol>
                            <br>
                           <ol>
                               신청인
                            <ul>
                                <ol>
                                    신청인(신청인닉네임)(프로필링크)
                                    <button
                                            class="btn btn-primary"
                                            type="button"
                                    >
                                        <b>수락</b>
                                    </button>
                                    <button
                                            class="btn btn-primary"
                                            type="button"
                                    >
                                        <b>거절</b>
                                    </button>

                                </ol>
                                <br>
                                <ol>
                                    신청인(신청인닉네임)(프로필링크)
                                    <button
                                            class="btn btn-primary"
                                            type="button"
                                    >
                                        <b>수락</b>
                                    </button>
                                    <button
                                            class="btn btn-primary"
                                            type="button"
                                    >
                                        <b>거절</b>
                                    </button>
                                </ol>
                            </ul>

                           </ol>
                        </ul>

                    </div>
                </section>
            </div>
        </div>
        <div >
            <button
                    class="btn btn-primary"
                    type="button"
                    onclick="location.href='accom_list.html'"
            >
                <b>지난 동행모집완료내역 가기</b>
            </button>
        </div>

    </div>

    </div>

</main>
<!-- End #main -->

<!--Footer-->
<a
        href="#"
        class="scroll-top d-flex align-items-center justify-content-center"
><i class="bi bi-arrow-up-short"></i
></a>

<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="../static/assets/vendor/aos/aos.js"></script>
<script src="../static/assets/vendor/php-email-form/validate.js"></script>
<!-- Template Main JS File -->
<script src="../static/assets/js/main.js"></script>-->

</body>
</html>
