<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Login</title>

  <!-- Custom fonts for this template-->
  <link href="/assets/sb/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/assets/sb/css/sb-admin-2.min.css" rel="stylesheet">
  <link href="/assets/css/main.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="/assets/img/logo.png" alt=""> -->
        <h1>Logis</h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="index.html" class="active">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="services.html">Services</a></li>
          <li><a href="pricing.html">Pricing</a></li>
          <li class="dropdown"><a href="#"><span>Drop Down</span> <i
                class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i
                    class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>
          <li><a href="contact.html">Contact</a></li>
          <li><a class="get-a-quote" href="login.html">Login</a></li>
          <li><a class="get-a-quote" href="get-a-quote.html">Get a Quote</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <!-- <section id="hero" class="hero d-flex align-items-center"> -->
  <section
    style="width:100%;min-height:50vh;background-color:var(--color-secondary);background-image:url('assets/img/hero-bg.png');background-size:cover;background-position:center;position:relative;padding:120px 0 60px 0;"
    id="hero" class="d-flex align-items-center">
    <div class="container">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0 bg-gray-300">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                </div>
                <form class="user">
                  <div class="form-group row justify-content-center">
                    <div class="col-sm-12 text-dark text-center">성 향&nbsp;&nbsp; 선 택</div>
                    <hr class="col-sm-12">
                    <div class="col-sm-3 form-check form-switch ml-5 m-2">
                      <input class="form-check-input" type="checkbox" id="f1">
                      <label class="form-check-label" for="f1">호기심</label>
                    </div>
                    <div class="col-sm-3 form-check form-switch m-2">
                      <input class="form-check-input" type="checkbox" id="f2">
                      <label class="form-check-label" for="f2">활동적</label>
                    </div>
                    <div class="col-sm-3 form-check form-switch m-2">
                      <input class="form-check-input" type="checkbox" id="f3">
                      <label class="form-check-label" for="f3">사교적</label>
                    </div>
                    <div class="col-sm-3 form-check form-switch ml-5 m-2">
                      <input class="form-check-input" type="checkbox" id="f4">
                      <label class="form-check-label" for="f4">모험을 즐김</label>
                    </div>
                    <div class="col-sm-3 form-check form-switch m-2">
                      <input class="form-check-input" type="checkbox" id="f5">
                      <label class="form-check-label" for="f5">수다스러움</label>
                    </div>
                    <div class="col-sm-3 form-check form-switch m-2">
                      <input class="form-check-input" type="checkbox" id="f6">
                      <label class="form-check-label" for="f6">내성적</label>
                    </div>
                    <div class="col-sm-3 form-check form-switch ml-5 m-2">
                      <input class="form-check-input" type="checkbox" id="f7">
                      <label class="form-check-label" for="f7">사색을 즐김</label>
                    </div>
                    <div class="col-sm-3 form-check form-switch m-2">
                      <input class="form-check-input" type="checkbox" id="f8">
                      <label class="form-check-label" for="f8">미를 탐구</label>
                    </div>
                    <div class="col-sm-3 form-check form-switch m-2">
                      <input class="form-check-input" type="checkbox" id="f9">
                      <label class="form-check-label" for="f9">주도적</label>
                    </div>
                  </div>
                  <div class="form-group row justify-content-center">
                    <div class="col-sm-12 text-dark text-center">관 심&nbsp;&nbsp; 선 택</div>
                    <hr class="col-sm-12">
                    <div class="col-sm-3 form-check form-switch ml-5 mb-3">
                      <input class="form-check-input" type="checkbox" id="i1">
                      <label class="form-check-label" for="i1">맛집 탐방</label>
                    </div>
                    <div class="col-sm-3 form-check form-switch mb-3">
                      <input class="form-check-input" type="checkbox" id="i2">
                      <label class="form-check-label" for="i2">쇼핑</label>
                    </div>
                    <div class="col-sm-3 form-check form-switch mb-3">
                      <input class="form-check-input" type="checkbox" id="i3">
                      <label class="form-check-label" for="i3">관람</label>
                    </div>
                    <div class="col-sm-3 form-check form-switch ml-5 mb-3">
                      <input class="form-check-input" type="checkbox" id="i4">
                      <label class="form-check-label" for="i4">액티비티</label>
                    </div>
                    <div class="col-sm-3 form-check form-switch mb-3">
                      <input class="form-check-input" type="checkbox" id="i5">
                      <label class="form-check-label" for="i5">사진 촬영</label>
                    </div>
                    <div class="col-sm-3 form-check form-switch mb-3">
                      <input class="form-check-input" type="checkbox" id="i6">
                      <label class="form-check-label" for="i6">파티</label>
                    </div>
                  </div>
                  <a href="register2.html" class="btn btn-primary btn-user btn-block">
                    Register Account
                  </a>
                </form>
                <hr>
                <div class="text-center">
                  <a class="small" href="forgot-password.html">Forgot Password?</a>
                </div>
                <div class="text-center">
                  <a class="small" href="login.html">Already have an account? Login!</a>
                </div>
              </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-out">
              <img src="/assets/sb/img/login.svg" class="img-fluid mb-3 mb-lg-0 " alt="">
            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Hero Section -->


  <!-- Bootstrap core JavaScript-->
  <script src="/assets/sb/vendor/jquery/jquery.min.js"></script>
  <script src="/assets/sb/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/assets/sb/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/assets/sb/js/sb-admin-2.min.js"></script>

</body>

</html>