<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- Import Google Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&amp;display=swap"
      rel="stylesheet"
      id="google-font"
    />
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="../static/css/mypage.css" />
  </head>

  <body>
    <header class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
      <div class="container">
        <a href="#" class="navbar-brand">
          <span class="text-primary flex-shrink-0 me-2"> </span>
          Together
        </a>
        <button
          type="button"
          class="navbar-toggler"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse1"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <nav class="collapse navbar-collapse" id="navbarCollapse1">
          <ul class="navbar-nav me-auto">
            <li class="nav-item active">
              <a href="#" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">동행게시판</a>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link">커뮤니티 게시판 ▽</a>
              <ul class="dropdown-menu">
                <li><a href="#" class="dropdown-item">Q&A</a></li>
                <li><a href="#" class="dropdown-item">정보공유</a></li>
                <li><a href="#" class="dropdown-item">자유게시판</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a
                href="#"
                class="nav-link disabled"
                tabindex="-1"
                aria-disabled="true"
                >설레는 여행을 함께, 'together'</a
              >
            </li>
          </ul>
          <a href="#" class="btn btn-primary btn-sm fs-sm ms-3 mb-4 mb-lg-0">
            로그인
          </a>
        </nav>
      </div>
    </header>
  </body>
</html>
