<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="col">
    <div class="card card-product">
        <div class="card-body">

            <div class="text-center position-relative">
                <div class=" position-absolute top-0 start-0"> </div>
                <a href="#!"> <img src="../static/assets/img/pari_ex.jpg" class="main_accompany_img"></a>

            </div>
            <div class="text-small mb-1"><a href="#!" class="text-decoration-none text-muted"><small>맛집/관광지</small></a></div>
            <h2 class="fs-6"><a href="../static/assets/img/pari_ex.jpg" class="text-inherit text-decoration-none">파리 맛집도 가고 에펠탑도 구경해요</a></h2>
            <div>

                <small class="text-warning"> <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i></small> <span class="text-muted small">4.5(149)</span>
            </div>
        </div>
    </div>
</div>

</body>
</html>