<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <h1>Chat test</h1>
</header>
<main>
    <input type="text" id="chat-input" placeholder="Type your message..." value="<%= nickname %>">

    <script>
        window.onload = function() {
            document.getElementById("chat-input").value = "<%= nickname %>";
        }
    </script>


    <div id="nick">
        <h3></h3>
        <ul></ul>
        <form id="nickname">
            <label>
                <input type="text" required="" placeholder="nickname">
            </label>
            <button>save</button>
        </form>
    </div>
    <div id="welcome">
        <form>
            <label>
                <input type="text" required="" placeholder="room name">
            </label>
            <button>Enter Room</button>
            <h4>Open Rooms :</h4>
            <ul></ul>
        </form>
    </div>
    <div id="room">
        <h3></h3>
        <ul></ul>
        <form id="msg">
            <label>
                <input type="text" required="" placeholder="message">
            </label>
            <button>Send</button>
        </form>
    </div>
</main>
<script src="../../../node_modules/socket.io/client-dist/socket.io.js"></script>
<script src="../public/js/app.js"></script>
</body>
</html>
