<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/auth-layout}">
<head>
  <title>Together recruit write form</title>
  <th:block layout:fragment="additionalHeadLink">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/summernote@0.8.20/dist/summernote-lite.min.css"
          integrity="sha256-IKhQVXDfwbVELwiR0ke6dX+pJt0RSmWky3WB2pNx9Hg=" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.20/dist/summernote-lite.min.js"
            integrity="sha256-5slxYrL5Ct3mhMAp/dgnb5JSnTYMtkr4dHby34N10qw=" crossorigin="anonymous"></script>
    <!-- language pack -->
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.20/dist/lang/summernote-ko-KR.min.js"
            integrity="sha256-y2bkXLA0VKwUx5hwbBKnaboRThcu7YOFyuYarJbCnoQ=" crossorigin="anonymous"></script>
  </th:block>
</head>
<body>
<div layout:fragment="content">
  <form action="/board/save" method="post">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" id="title" name="title" placeholder="Enter title">
    </div>
    <div class="mb-3">
      <label for="content" class="form-label">Content</label>
      <textarea class="form-control summernote" rows="5" id="content"></textarea>
    </div>
  </form>
  <button id="btn-board-save" class="btn btn-primary">글쓰기 완료</button>
</div>

<th:block layout:fragment="script">
  <script th:inline="javascript">
      $('.summernote').summernote({
          // placeholder: 'Hello Bootstrap 5',
          tabsize: 2,
          height: 300
      });
  </script>
  <script src="/js/board.js"></script>
</th:block>
</body>
</html>