<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/sb-and-logis-layout}"
>
<meta charset="UTF-8">

<body>
<div layout:fragment="content">
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs">
            <div
                    class="page-header d-flex align-items-center"
                    style="background-image: url('../static/assets/img/together.jpg')"
            >
                <div class="container position-relative">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-6 text-center">
                            <h2>동행 게시판</h2>
                            <p>함께 여행할 동행자를 찾아보세요</p>
                        </div>
                    </div>
                </div>
            </div>
            <nav>
                <div class="container">
                    <ol>
                        <li><a href="mainpage.html">Home</a></li>
                        <li><a href="recruit_board.html"></a>동행 게시판</li>
                    </ol>
                </div>
            </nav>
        </div>
<!-- End Hero Section -->

<main id="main">

    <!-- Page content-->
    <div class="container py-5 mt-4 mt-lg-5 mb-lg-4 my-xl-5">
                <!-- 정수형-->
                <section class="card border-1 py-1 p-md-2 p-xl-3 p-xxl-4 mb-4">
                    <div class="card-body">
                        <div class="d-flex align-items-center mt-sm-n1 pb-4 mb-0 mb-lg-1 mb-xl-3">
                            <i class="ai-user text-primary lead pe-1 me-2"></i>
                            <h2 class="h4 mb-0"></h2>
                        </div>
                        <div class="d-md-flex align-items-center">
                            <div class="d-sm-flex align-items-center">
                                <div class="rounded-circle bg-size-cover bg-position-center flex-shrink-0"
                                     style="
                                     width: 100px;
                                     height: 100px;
                                     max-width: 100px;
                                     max-height: 100px;">
                                    <img src="../../static/assets/img/github.png" style="object-fit: cover; width: 100%; height: 100%;" />
                                </div>

                                <div class="pt-3 pt-sm-0 ps-sm-4">
                                    <div class="text-muted fw-medium d-flex flex-wrap flex-sm-nowrap align-iteems-center">
                                        <div class="d-flex align-items-center me-3">
                                            <h2>정수형</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="w-100 pt-3 pt-md-0 ms-md-auto" style="max-width: 212px">
                            </div>
                        </div>
                        <div class="row py-4 mb-2 mb-sm-3">
                            <div class="col-md-6 mb-4 mb-md-0">
                                <table class="table mb-0">
                                    <tr>
                                        <td class="border-0 text-muted py-1 px-0">담당</td>
                                        <td class="border-0 text-dark fw-medium py-1 ps-3">
                                            test
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="border-0 text-muted py-1 px-0">Github 계정</td>
                                        <td class="border-0 text-dark fw-medium py-1 ps-3">
                                            <a href="https://github.com/suhaengi">suhaengi</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="border-0 text-muted py-1 px-0">E-mail</td>
                                        <td class="border-0 text-dark fw-medium py-1 ps-3">
                                            test@test
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                </section>

        <!-- 고성운-->
        <section class="card border-1 py-1 p-md-2 p-xl-3 p-xxl-4 mb-4">
            <div class="card-body">
                <div class="d-flex align-items-center mt-sm-n1 pb-4 mb-0 mb-lg-1 mb-xl-3">
                    <i class="ai-user text-primary lead pe-1 me-2"></i>
                    <h2 class="h4 mb-0"></h2>
                </div>
                <div class="d-md-flex align-items-center">
                    <div class="d-sm-flex align-items-center">
                        <div class="rounded-circle bg-size-cover bg-position-center flex-shrink-0"
                             style="
                                     width: 100px;
                                     height: 100px;
                                     max-width: 100px;
                                     max-height: 100px;">
                            <img src="../../static/assets/img/github.png" style="object-fit: cover; width: 100%; height: 100%;" />
                        </div>

                        <div class="pt-3 pt-sm-0 ps-sm-4">
                            <div class="text-muted fw-medium d-flex flex-wrap flex-sm-nowrap align-iteems-center">
                                <div class="d-flex align-items-center me-3">
                                    <h2>고성운</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-100 pt-3 pt-md-0 ms-md-auto" style="max-width: 212px">
                    </div>
                </div>
                <div class="row py-4 mb-2 mb-sm-3">
                    <div class="col-md-6 mb-4 mb-md-0">
                        <table class="table mb-0">
                            <tr>
                                <td class="border-0 text-muted py-1 px-0">담당</td>
                                <td class="border-0 text-dark fw-medium py-1 ps-3">
                                    test
                                </td>
                            </tr>

                            <tr>
                                <td class="border-0 text-muted py-1 px-0">Github 계정</td>
                                <td class="border-0 text-dark fw-medium py-1 ps-3">
                                    <a href="https://github.com/multisula">multisula</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="border-0 text-muted py-1 px-0">E-mail</td>
                                <td class="border-0 text-dark fw-medium py-1 ps-3">
                                    test@test
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
        </section>

        <!-- 문수진-->
        <section class="card border-1 py-1 p-md-2 p-xl-3 p-xxl-4 mb-4">
            <div class="card-body">
                <div class="d-flex align-items-center mt-sm-n1 pb-4 mb-0 mb-lg-1 mb-xl-3">
                    <i class="ai-user text-primary lead pe-1 me-2"></i>
                    <h2 class="h4 mb-0"></h2>
                </div>
                <div class="d-md-flex align-items-center">
                    <div class="d-sm-flex align-items-center">
                        <div class="rounded-circle bg-size-cover bg-position-center flex-shrink-0"
                             style="
                                     width: 100px;
                                     height: 100px;
                                     max-width: 100px;
                                     max-height: 100px;">
                            <img src="../../static/assets/img/github.png" style="object-fit: cover; width: 100%; height: 100%;" />
                        </div>

                        <div class="pt-3 pt-sm-0 ps-sm-4">
                            <div class="text-muted fw-medium d-flex flex-wrap flex-sm-nowrap align-iteems-center">
                                <div class="d-flex align-items-center me-3">
                                    <h2>문수진</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-100 pt-3 pt-md-0 ms-md-auto" style="max-width: 212px">
                    </div>
                </div>
                <div class="row py-4 mb-2 mb-sm-3">
                    <div class="col-md-6 mb-4 mb-md-0">
                        <table class="table mb-0">
                            <tr>
                                <td class="border-0 text-muted py-1 px-0">담당</td>
                                <td class="border-0 text-dark fw-medium py-1 ps-3">
                                    test
                                </td>
                            </tr>

                            <tr>
                                <td class="border-0 text-muted py-1 px-0">Github 계정</td>
                                <td class="border-0 text-dark fw-medium py-1 ps-3">
                                    <a href="https://github.com/ssuzz">ssuzz</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="border-0 text-muted py-1 px-0">E-mail</td>
                                <td class="border-0 text-dark fw-medium py-1 ps-3">
                                    test@test
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
        </section>

        <!-- 문준하 -->
        <section class="card border-1 py-1 p-md-2 p-xl-3 p-xxl-4 mb-4">
            <div class="card-body">
                <div class="d-flex align-items-center mt-sm-n1 pb-4 mb-0 mb-lg-1 mb-xl-3">
                    <i class="ai-user text-primary lead pe-1 me-2"></i>
                    <h2 class="h4 mb-0"></h2>
                </div>
                <div class="d-md-flex align-items-center">
                    <div class="d-sm-flex align-items-center">
                        <div class="rounded-circle bg-size-cover bg-position-center flex-shrink-0"
                             style="
                                     width: 100px;
                                     height: 100px;
                                     max-width: 100px;
                                     max-height: 100px;">
                            <img src="../../static/assets/img/github.png" style="object-fit: cover; width: 100%; height: 100%;" />
                        </div>

                        <div class="pt-3 pt-sm-0 ps-sm-4">
                            <div class="text-muted fw-medium d-flex flex-wrap flex-sm-nowrap align-iteems-center">
                                <div class="d-flex align-items-center me-3">
                                    <h2>문준하</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-100 pt-3 pt-md-0 ms-md-auto" style="max-width: 212px">
                    </div>
                </div>
                <div class="row py-4 mb-2 mb-sm-3">
                    <div class="col-md-6 mb-4 mb-md-0">
                        <table class="table mb-0">
                            <tr>
                                <td class="border-0 text-muted py-1 px-0">담당</td>
                                <td class="border-0 text-dark fw-medium py-1 ps-3">
                                    test
                                </td>
                            </tr>

                            <tr>
                                <td class="border-0 text-muted py-1 px-0">Github 계정</td>
                                <td class="border-0 text-dark fw-medium py-1 ps-3">
                                    <a href="https://github.com/moonjunha">moonjunha</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="border-0 text-muted py-1 px-0">E-mail</td>
                                <td class="border-0 text-dark fw-medium py-1 ps-3">
                                    test@test
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
        </section>

        <!-- 박성은 -->
        <section class="card border-1 py-1 p-md-2 p-xl-3 p-xxl-4 mb-4">
            <div class="card-body">
                <div class="d-flex align-items-center mt-sm-n1 pb-4 mb-0 mb-lg-1 mb-xl-3">
                    <i class="ai-user text-primary lead pe-1 me-2"></i>
                    <h2 class="h4 mb-0"></h2>
                </div>
                <div class="d-md-flex align-items-center">
                    <div class="d-sm-flex align-items-center">
                        <div class="rounded-circle bg-size-cover bg-position-center flex-shrink-0"
                             style="
                                     width: 100px;
                                     height: 100px;
                                     max-width: 100px;
                                     max-height: 100px;">
                            <img src="../../static/assets/img/github.png" style="object-fit: cover; width: 100%; height: 100%;" />
                        </div>

                        <div class="pt-3 pt-sm-0 ps-sm-4">
                            <div class="text-muted fw-medium d-flex flex-wrap flex-sm-nowrap align-iteems-center">
                                <div class="d-flex align-items-center me-3">
                                    <h2>박성은</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-100 pt-3 pt-md-0 ms-md-auto" style="max-width: 212px">
                    </div>
                </div>
                <div class="row py-4 mb-2 mb-sm-3">
                    <div class="col-md-6 mb-4 mb-md-0">
                        <table class="table mb-0">
                            <tr>
                                <td class="border-0 text-muted py-1 px-0">담당</td>
                                <td class="border-0 text-dark fw-medium py-1 ps-3">
                                    test
                                </td>
                            </tr>

                            <tr>
                                <td class="border-0 text-muted py-1 px-0">Github 계정</td>
                                <td class="border-0 text-dark fw-medium py-1 ps-3">
                                    <a href="https://github.com/SeongeunPak">SeongeunPak</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="border-0 text-muted py-1 px-0">E-mail</td>
                                <td class="border-0 text-dark fw-medium py-1 ps-3">
                                    test@test
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
        </section>

    </div>

</main>

<!-- Vendor JS Files -->
<script src="../../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="../../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="../../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="../../static/assets/vendor/aos/aos.js"></script>
<script src="../../static/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="../../static/assets/js/main.js"></script>

<!-- 추가된 스크립트 -->

<!-- Theme JS -->
<script src="../../static/assets/js/theme.min.js"></script>
<script src="../../static/assets/libs/jquery-countdown/dist/jquery.countdown.min.js"></script>
<script src="../../static/assets/js/vendors/countdown.js"></script>
<script src="../../static/assets/libs/slick-carousel/slick/slick.min.js"></script>
<script src="../../static/assets/js/vendors/slick-slider.js"></script>
<script src="../../static/assets/libs/tiny-slider/dist/min/tiny-slider.js"></script>
<script src="../../static/assets/js/vendors/tns-slider.js"></script>
<script src="../../static/assets/js/vendors/zoom.js"></script>
<script src="../../static/assets/js/vendors/increment-value.js"></script>
</body>
</html>
